<h1>Enter Weight for {{daily_entry.date | date:midDate}}</h1>
<form ng-submit="createWeight()">
    <label>Weight:</label>
    <input type="number" step="any" ng-model='newWeight.measured_weight'><br>
    <label>Time Weighed:</label>
    <input type="time" ng-model='newWeight.time_weighed'><br>
    <input type="submit" value="Add Daily Entry">
    <table class="table table-bordered table-responsive">
        <tr">
            <td>Time Weighed</td>
            <td>Measured Weight</td>
            <td>Difference From Average</td>
        </tr>
        <tr ng-repeat="weight in daily_entry.weights">
            <td>{{weight.time_weighed | date: 'H:mm:ss:a Z'}}</td>
            <td>{{weight.measured_weight}}</td>
            <td>{{weight.difference_from_daily_average}}</td>
        </tr>
    </table>
    <a href='#/'>Back Home</a>
</form>