<!DOCTYPE html>
<html ng-app='FitnessApp'>
<head>
  <title>Fitness App</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div ng-view>

</div>
</body>
</html>
